# Dependencies
node_modules
.pnpm-store

# Build outputs
build
dist
.react-router

# Environment files
.env
.env.local
.env.production

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode
.idea

# Other
coverage
*.min.js
*.min.css
package-lock.json
pnpm-lock.yaml
